@import "styles/_colors";
@import "styles/_fonts";
@import "styles/_sizes";

html,
body {
  font-family: $text-font-family;
  font-size: $base-font-size;
}

#__next {
  align-items: flex-start;
  background-color: $light-background-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
}
